@import "mixins";
@import "fonts";
@import "variable";

.wrapper {
  background: #cccccc;
  // font-family: $roboto;
}

.sticky-menu {
  padding: 5px 0;
}

.header {
  position: relative;
  .slide-header-background {
    z-index: 0;
    img {
      height: 400px;
      width: 100%;
    }
  }
  .header-top {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    .logo {
      text-align: center;
      a {
        img {
          height: 100px;
        }
      }
    }
    .menu {

      ul.main-menu {
        margin: 0;
        li {
          display: inline-block;
          padding: 5px 10px;
          position: relative;
          border-radius: 5px;
          > a {
            font-size: 16px;
            font-family: $roboto-Light;
            display: block;
            color: #f1f1f1;
            text-align: left;
            word-spacing: -.05em;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
          }
          ul.sub-menu {
            position: absolute;
            display: none;
            width: 200px;
            left: 0;
            top: 30px;
            z-index: 2;
            padding-left: 5px;
            li {
              display: block;
              padding: 5px;
              background: none;
              a {
                text-transform: lowercase;
                color: #f1f1f1;
                &:first-letter {
                  text-transform: uppercase;
                }
                &:hover {
                  color: #ffffff;
                }
              }
              &:hover {
                background: none;
              }
            }
          }
          &:hover {
            background: rgba(255, 255, 255, .5);
            ul.sub-menu {
              display: block;
            }
          }

        }
      }
    }
  }
}

/* Home Product*/
.home-product-block {
  margin: 20px 0;
  .block-title {

    a {
      text-decoration: none;
      color: #000000;
    }
  }
  .product-list, .product-list-sub {
    .product-item {

      position: relative;
      cursor: pointer;
      margin-bottom: 50px;
      .thumb {
        height: 300px;
        img {
          width: 100%;

        }

      }
      .name {
        text-align: center;
        height: 45px;
        overflow: hidden;
        a {
          color: #000000;
          font-family: $roboto-Light;
          font-size: 16px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .price {
        color: #999999;
        text-align: center;
        font-size: 12px;
      }
      &:last-child {
        border-right: 0;
      }
      .info {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5px;
        background: rgba(0, 0, 0, .6);
        .title {
          color: #ffffff;
          font-size: 16px;
          text-align: center;
          font-weight: bold;
          padding: 10px 0;
        }
        .small-image {
          img {
            display: none;
            height: 120px;
          }
        }
        ul {
          padding-left: 5px;
          li {
            list-style: none;
            color: #ffffff;
            label {
              width: 100px;
            }
          }
        }
        .desc {
          text-align: justify;
          color: #ffffff;
        }
        .link {
          text-align: center;
          a {
            padding: 5px;
            background: #56b9e6;
            color: #ffffff;
            border-radius: 5px;
            text-decoration: none;
          }
        }
      }
      &:hover {
        .info {
          transition-property: all;
          transition-duration: .5s;
          transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
          display: block;
        }
      }
    }
    .slick-dots {
      text-align: center;
      li {
        display: inline-block;
        button {
          font-size: 0;
          padding: 7px;
          border-radius: 50%;
          border: 0;
          outline: none;
          margin-right: 5px;
        }
        &.slick-active {
          button {
            background: rgba(255, 0, 0, .5);
          }
        }
      }
    }
  }
}

/* Tin tuc - Su kien*/
.home-news {

  .block-title {
    font-family: $roboto;
    font-size: 16px;
  }
  .register {
    img {
      width: 100%;
      height: 200px;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
  .event-second {
    .home-news {
      h3 {
        a {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
  .home-news {
    position: relative;
    height: 420px;
    img {
      width: 100%;
      height: 100%;
    }

    .info {
      position: absolute;
      padding: 0 10px;
      bottom: 0;
      left: 0;
      right: 0;
      top: 300px;
      background: rgba(0, 0, 0, .5);
      div.desc {
        color: #ffffff;
      }
      h3 {

        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }

  }
  .home-news-2 {
    height: 150px;
  }
}

/* Home video*/
.home-video {
  iframe {
    width: 100%;
    height: 400px;
  }
  img {
    width: 100%;
    height: 400px;
  }
}

/* Bottom */
.bottom {
  padding: 20px 0;
  background: #2B2B2B;
  .bottom-info {
    text-align: center;
    color: #666666;
  }
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  z-index: 2;
  background: rgba(0, 0, 0, .5);
  mso-border-shadow: yes;
  padding: 5px 0;
  .logo {
    a {
      img {
        height: 50px !important;
      }
    }
  }
  .menu {
    margin-top: 10px;
    ul.main-menu {
      li {
        ul.sub-menu {
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.bg-white {
  background: #ffffff !important;

}

.uu-dai {
  text-align: center;
  background: #F4F4F4;
}

.product-info {
  h1 {
    font-size: 20px;
    color: #FF0000;
  }
  ul.listAttr {
    padding-left: 5px;
    li {
      padding: 2px 0;
      list-style: none;
      label {
        font-weight: bold;
        width: 100px;
      }
    }
  }
  .price {
    font-weight: bold;
    font-size: 20px;
    color: #009C27;
    margin-top: 7px;
  }

  h2 {
    font-size: 18px;
    border-left: 5px #FF0000 solid;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
  }
  .product-gallery {
    margin-top: 20px;
    text-align: center;
    .img-item {
      img {
        max-width: 100%;
      }
      div {
        margin: 4px 0;
        font-style: italic;
      }
    }
  }
  ul.gallery {
    li {
      img {
        width: 100%;

      }
    }
  }
}

ul.nav-tabs {
  border-bottom: 1px #cccccc solid;
  li {

    &.active {
      a {
        border: 0;
        background: transparent;
        border: 1px #cccccc solid;
        border-bottom: 1px #ffffff solid;
        color: #045E2A;
        font-weight: 600;
        text-decoration: none;
      }
    }
    a {
      font-size: 14px;
      color: #A9C83F;
      font-family: Tahoma;
      text-transform: uppercase;
    }
  }
}

.tab-content {
  border: 1px #cccccc solid;
  border-top: 0;
  padding: 10px;
  margin-bottom: 10px;
}

.other-product {
  ul {
    margin-top: 20px;
    padding-left: 0;
    li {
      list-style: none;
      border-bottom: 1px #ccc solid;
      padding: 10px 0;
      img {
        width: 100%;
      }
      a {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

.event-detail {
  padding: 10px;
  .thumb {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
}

.events-list {
  .event-item {
    margin-bottom: 10px;
    .thumb {
      float: left;
      img {
        width: 100%;
      }
    }
    .title {
      a {
        font-size: 20px;
        text-decoration: none;
        color: #2B2F31;;
        color: #2B2F31;;
      }

    }
    .sapo {
      color: #2B2F31;
    }

  }
}

.video-detail {
  h1 {
    color: #2F353E;
    font-size: 20px;
    padding: 10px;
    border-left: 3px #ff0000 solid;
  }
  .content {
    iframe {
      width: 100% !important;
      min-height: 500px;
    }
  }
}

.leftMenu {
  padding-left: 0;
  li {
    background: #999999;
    padding: 5px;
    border-bottom: 2px #FFFFFF solid;
    list-style: none;
    a {
      color: #FFFFFF;
    }
  }
}

.menu-footer-container {
  height: 150px;
  > ul {
    width: 100%;
    > li {
      display: inline-block;
      position: relative;
      width: 20%;
      clear: inherit;
      > a {
        font-weight: bold;
        text-transform: uppercase;
        color: #f14924;
        font-family: $roboto-Light;
        text-decoration: none;

      }
      ul {
        padding-left: 0;
        position: absolute;
        li {
          display: block;
          a {
            text-decoration: none;
            color: #cccccc;
          }
        }
      }
    }
  }
}
.social-list{
  a{
    i{
      font-size: 20px;
      color: #FFFFFF;
    }
  }
}