@font-face {
  font-family: "roboto-Light";
  src: url("../fonts/roboto/Roboto-Light.eot?") format("eot"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), url('../fonts/roboto/Roboto-Light.svg#str-replace("roboto-Light", " ", "_")') format("svg"); }

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/Roboto-Black.eot?") format("eot"), url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff"), url("../fonts/roboto/Roboto-Black.ttf") format("truetype"), url('../fonts/roboto/Roboto-Black.svg#str-replace("roboto", " ", "_")') format("svg"); }

.wrapper {
  background: #cccccc; }

.sticky-menu {
  padding: 5px 0; }

.header {
  position: relative; }
  .header .slide-header-background {
    z-index: 0; }
    .header .slide-header-background img {
      height: 400px;
      width: 100%; }
  .header .header-top {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0; }
    .header .header-top .logo {
      text-align: center; }
      .header .header-top .logo a img {
        height: 100px; }
    .header .header-top .menu ul.main-menu {
      margin: 0; }
      .header .header-top .menu ul.main-menu li {
        display: inline-block;
        padding: 5px 10px;
        position: relative;
        border-radius: 5px; }
        .header .header-top .menu ul.main-menu li > a {
          font-size: 16px;
          font-family: "roboto-Light";
          display: block;
          color: #f1f1f1;
          text-align: left;
          word-spacing: -.05em;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none; }
        .header .header-top .menu ul.main-menu li ul.sub-menu {
          position: absolute;
          display: none;
          width: 200px;
          left: 0;
          top: 30px;
          z-index: 2;
          padding-left: 5px; }
          .header .header-top .menu ul.main-menu li ul.sub-menu li {
            display: block;
            padding: 5px;
            background: none; }
            .header .header-top .menu ul.main-menu li ul.sub-menu li a {
              text-transform: lowercase;
              color: #f1f1f1; }
              .header .header-top .menu ul.main-menu li ul.sub-menu li a:first-letter {
                text-transform: uppercase; }
              .header .header-top .menu ul.main-menu li ul.sub-menu li a:hover {
                color: #ffffff; }
            .header .header-top .menu ul.main-menu li ul.sub-menu li:hover {
              background: none; }
        .header .header-top .menu ul.main-menu li:hover {
          background: rgba(255, 255, 255, 0.5); }
          .header .header-top .menu ul.main-menu li:hover ul.sub-menu {
            display: block; }

/* Home Product*/
.home-product-block {
  margin: 20px 0; }
  .home-product-block .block-title a {
    text-decoration: none;
    color: #000000; }
  .home-product-block .product-list .product-item, .home-product-block .product-list-sub .product-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 50px; }
    .home-product-block .product-list .product-item .thumb, .home-product-block .product-list-sub .product-item .thumb {
      height: 300px; }
      .home-product-block .product-list .product-item .thumb img, .home-product-block .product-list-sub .product-item .thumb img {
        width: 100%; }
    .home-product-block .product-list .product-item .name, .home-product-block .product-list-sub .product-item .name {
      text-align: center;
      height: 45px;
      overflow: hidden; }
      .home-product-block .product-list .product-item .name a, .home-product-block .product-list-sub .product-item .name a {
        color: #000000;
        font-family: "roboto-Light";
        font-size: 16px; }
        .home-product-block .product-list .product-item .name a:hover, .home-product-block .product-list-sub .product-item .name a:hover {
          text-decoration: none; }
    .home-product-block .product-list .product-item .price, .home-product-block .product-list-sub .product-item .price {
      color: #999999;
      text-align: center;
      font-size: 12px; }
    .home-product-block .product-list .product-item:last-child, .home-product-block .product-list-sub .product-item:last-child {
      border-right: 0; }
    .home-product-block .product-list .product-item .info, .home-product-block .product-list-sub .product-item .info {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 5px;
      background: rgba(0, 0, 0, 0.6); }
      .home-product-block .product-list .product-item .info .title, .home-product-block .product-list-sub .product-item .info .title {
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        padding: 10px 0; }
      .home-product-block .product-list .product-item .info .small-image img, .home-product-block .product-list-sub .product-item .info .small-image img {
        display: none;
        height: 120px; }
      .home-product-block .product-list .product-item .info ul, .home-product-block .product-list-sub .product-item .info ul {
        padding-left: 5px; }
        .home-product-block .product-list .product-item .info ul li, .home-product-block .product-list-sub .product-item .info ul li {
          list-style: none;
          color: #ffffff; }
          .home-product-block .product-list .product-item .info ul li label, .home-product-block .product-list-sub .product-item .info ul li label {
            width: 100px; }
      .home-product-block .product-list .product-item .info .desc, .home-product-block .product-list-sub .product-item .info .desc {
        text-align: justify;
        color: #ffffff; }
      .home-product-block .product-list .product-item .info .link, .home-product-block .product-list-sub .product-item .info .link {
        text-align: center; }
        .home-product-block .product-list .product-item .info .link a, .home-product-block .product-list-sub .product-item .info .link a {
          padding: 5px;
          background: #56b9e6;
          color: #ffffff;
          border-radius: 5px;
          text-decoration: none; }
    .home-product-block .product-list .product-item:hover .info, .home-product-block .product-list-sub .product-item:hover .info {
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      display: block; }
  .home-product-block .product-list .slick-dots, .home-product-block .product-list-sub .slick-dots {
    text-align: center; }
    .home-product-block .product-list .slick-dots li, .home-product-block .product-list-sub .slick-dots li {
      display: inline-block; }
      .home-product-block .product-list .slick-dots li button, .home-product-block .product-list-sub .slick-dots li button {
        font-size: 0;
        padding: 7px;
        border-radius: 50%;
        border: 0;
        outline: none;
        margin-right: 5px; }
      .home-product-block .product-list .slick-dots li.slick-active button, .home-product-block .product-list-sub .slick-dots li.slick-active button {
        background: rgba(255, 0, 0, 0.5); }

/* Tin tuc - Su kien*/
.home-news .block-title {
  font-family: "roboto";
  font-size: 16px; }

.home-news .register img {
  width: 100%;
  height: 200px; }
  .home-news .register img:first-child {
    margin-bottom: 20px; }

.home-news .event-second .home-news h3 a {
  font-size: 16px;
  font-weight: bold; }

.home-news .home-news {
  position: relative;
  height: 420px; }
  .home-news .home-news img {
    width: 100%;
    height: 100%; }
  .home-news .home-news .info {
    position: absolute;
    padding: 0 10px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 300px;
    background: rgba(0, 0, 0, 0.5); }
    .home-news .home-news .info div.desc {
      color: #ffffff; }
    .home-news .home-news .info h3 a {
      color: #ffffff;
      text-decoration: none; }

.home-news .home-news-2 {
  height: 150px; }

/* Home video*/
.home-video iframe {
  width: 100%;
  height: 400px; }

.home-video img {
  width: 100%;
  height: 400px; }

/* Bottom */
.bottom {
  padding: 20px 0;
  background: #2B2B2B; }
  .bottom .bottom-info {
    text-align: center;
    color: #666666; }

.sticky {
  position: fixed !important;
  top: 0 !important;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  mso-border-shadow: yes;
  padding: 5px 0; }
  .sticky .logo a img {
    height: 50px !important; }
  .sticky .menu {
    margin-top: 10px; }
    .sticky .menu ul.main-menu li ul.sub-menu {
      background: rgba(0, 0, 0, 0.5); }

.bg-white {
  background: #ffffff !important; }

.uu-dai {
  text-align: center;
  background: #F4F4F4; }

.product-info h1 {
  font-size: 20px;
  color: #FF0000; }

.product-info ul.listAttr {
  padding-left: 5px; }
  .product-info ul.listAttr li {
    padding: 2px 0;
    list-style: none; }
    .product-info ul.listAttr li label {
      font-weight: bold;
      width: 100px; }

.product-info .price {
  font-weight: bold;
  font-size: 20px;
  color: #009C27;
  margin-top: 7px; }

.product-info h2 {
  font-size: 18px;
  border-left: 5px #FF0000 solid;
  padding: 5px 5px 5px 10px;
  font-weight: bold; }

.product-info .product-gallery {
  margin-top: 20px;
  text-align: center; }
  .product-info .product-gallery .img-item img {
    max-width: 100%; }
  .product-info .product-gallery .img-item div {
    margin: 4px 0;
    font-style: italic; }

.product-info ul.gallery li img {
  width: 100%; }

ul.nav-tabs {
  border-bottom: 1px #cccccc solid; }
  ul.nav-tabs li.active a {
    border: 0;
    background: transparent;
    border: 1px #cccccc solid;
    border-bottom: 1px #ffffff solid;
    color: #045E2A;
    font-weight: 600;
    text-decoration: none; }
  ul.nav-tabs li a {
    font-size: 14px;
    color: #A9C83F;
    font-family: Tahoma;
    text-transform: uppercase; }

.tab-content {
  border: 1px #cccccc solid;
  border-top: 0;
  padding: 10px;
  margin-bottom: 10px; }

.other-product ul {
  margin-top: 20px;
  padding-left: 0; }
  .other-product ul li {
    list-style: none;
    border-bottom: 1px #ccc solid;
    padding: 10px 0; }
    .other-product ul li img {
      width: 100%; }
    .other-product ul li a {
      color: #000000;
      text-decoration: none;
      font-weight: bold; }

.event-detail {
  padding: 10px; }
  .event-detail .thumb {
    margin-bottom: 20px; }
    .event-detail .thumb img {
      width: 100%; }

.events-list .event-item {
  margin-bottom: 10px; }
  .events-list .event-item .thumb {
    float: left; }
    .events-list .event-item .thumb img {
      width: 100%; }
  .events-list .event-item .title a {
    font-size: 20px;
    text-decoration: none;
    color: #2B2F31;
    color: #2B2F31; }
  .events-list .event-item .sapo {
    color: #2B2F31; }

.video-detail h1 {
  color: #2F353E;
  font-size: 20px;
  padding: 10px;
  border-left: 3px #ff0000 solid; }

.video-detail .content iframe {
  width: 100% !important;
  min-height: 500px; }

.leftMenu {
  padding-left: 0; }
  .leftMenu li {
    background: #999999;
    padding: 5px;
    border-bottom: 2px #FFFFFF solid;
    list-style: none; }
    .leftMenu li a {
      color: #FFFFFF; }

.menu-footer-container {
  height: 150px; }
  .menu-footer-container > ul {
    width: 100%; }
    .menu-footer-container > ul > li {
      display: inline-block;
      position: relative;
      width: 20%;
      clear: inherit; }
      .menu-footer-container > ul > li > a {
        font-weight: bold;
        text-transform: uppercase;
        color: #f14924;
        font-family: "roboto-Light";
        text-decoration: none; }
      .menu-footer-container > ul > li ul {
        padding-left: 0;
        position: absolute; }
        .menu-footer-container > ul > li ul li {
          display: block; }
          .menu-footer-container > ul > li ul li a {
            text-decoration: none;
            color: #cccccc; }

.social-list a i {
  font-size: 20px;
  color: #FFFFFF; }
